In [30]:
import requests
from bs4 import BeautifulSoup
import csv
import  pandas as pd

In [39]:
url="https://www.flipkart.com/search?q=samsung+mobiles"
r=requests.get(url)
soap=BeautifulSoup(r.content,"html.parser")
tit=soap.find_all('div',class_='_4rR01T')
pric=soap.find_all('div',class_='_30jeq3 _1_WHN1')
rev=soap.find_all('div',class_='')
print(pric)

[<div class="_30jeq3 _1_WHN1">₹11,999</div>, <div class="_30jeq3 _1_WHN1">₹12,999</div>, <div class="_30jeq3 _1_WHN1">₹16,490</div>, <div class="_30jeq3 _1_WHN1">₹12,999</div>, <div class="_30jeq3 _1_WHN1">₹11,999</div>, <div class="_30jeq3 _1_WHN1">₹11,999</div>, <div class="_30jeq3 _1_WHN1">₹12,999</div>, <div class="_30jeq3 _1_WHN1">₹13,999</div>, <div class="_30jeq3 _1_WHN1">₹11,999</div>, <div class="_30jeq3 _1_WHN1">₹11,999</div>, <div class="_30jeq3 _1_WHN1">₹16,999</div>, <div class="_30jeq3 _1_WHN1">₹10,285</div>, <div class="_30jeq3 _1_WHN1">₹13,999</div>, <div class="_30jeq3 _1_WHN1">₹1,994</div>, <div class="_30jeq3 _1_WHN1">₹12,848</div>, <div class="_30jeq3 _1_WHN1">₹12,990</div>, <div class="_30jeq3 _1_WHN1">₹16,999</div>, <div class="_30jeq3 _1_WHN1">₹16,948</div>, <div class="_30jeq3 _1_WHN1">₹23,899</div>, <div class="_30jeq3 _1_WHN1">₹16,399</div>, <div class="_30jeq3 _1_WHN1">₹15,351</div>, <div class="_30jeq3 _1_WHN1">₹16,999</div>, <div class="_30jeq3 _1_WHN1">₹15,300</div>, <div class="_30jeq3 _1_WHN1">₹11,155</div>]

In [40]:
titt=[]
pri=[]
for tittle ,price in zip(tit,pric):
    titt.append(tittle.text)
    pri.append(price.text)
print(titt)

['SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)', 'SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)', 'SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)', 'SAMSUNG Galaxy F13 (Nightsky Green, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)', 'SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)', 'SAMSUNG Galaxy F13 (Sunrise Copper, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Black, 64 GB)', 'SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)', 'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)', 'SAMSUNG Galaxy M12 (Blue, 64 GB)', 'SAMSUNG Galaxy F22 (Denim Black, 128 GB)', 'SAMSUNG Guru Music 2', 'SAMSUNG Galaxy M12 (Black, 128 GB)', 'SAMSUNG Galaxy M12 (Blue, 128 GB)', 'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)', 'SAMSUNG Galaxy M33 5G (Emarld Brown, 128 GB)', 'SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB)', 'SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)', 'SAMSUNG Galaxy M32 (Black, 128 GB)', 'SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)', 'SAMSUNG Galaxy M32 (Light Blue, 128 GB)', 'SAMSUNG Galaxy M12 (Black, 64 GB)']

In [41]:
data={'tittle':titt,'price':pri}
data

{'tittle': ['SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)',
  'SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)',
  'SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)',
  'SAMSUNG Galaxy F13 (Nightsky Green, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
  'SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)',
  'SAMSUNG Galaxy F13 (Sunrise Copper, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
  'SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy M12 (Blue, 64 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 128 GB)',
  'SAMSUNG Guru Music 2',
  'SAMSUNG Galaxy M12 (Black, 128 GB)',
  'SAMSUNG Galaxy M12 (Blue, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy M33 5G (Emarld Brown, 128 GB)',
  'SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB)',
  'SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)',
  'SAMSUNG Galaxy M32 (Black, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)',
  'SAMSUNG Galaxy M32 (Light Blue, 128 GB)',
  'SAMSUNG Galaxy M12 (Black, 64 GB)'],
 'price': ['₹11,999',
  '₹12,999',
  '₹16,490',
  '₹12,999',
  '₹11,999',
  '₹11,999',
  '₹12,999',
  '₹13,999',
  '₹11,999',
  '₹11,999',
  '₹16,999',
  '₹10,285',
  '₹13,999',
  '₹1,994',
  '₹12,848',
  '₹12,990',
  '₹16,999',
  '₹16,948',
  '₹23,899',
  '₹16,399',
  '₹15,351',
  '₹16,999',
  '₹15,300',
  '₹11,155']}

In [42]:
model=pd.DataFrame(data=data)
model

                                             tittle    price
0        SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)  ₹11,999
1       SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)  ₹12,999
2    SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)  ₹16,490
3       SAMSUNG Galaxy F13 (Nightsky Green, 128 GB)  ₹12,999
4            SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  ₹11,999
5        SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)  ₹11,999
6       SAMSUNG Galaxy F13 (Sunrise Copper, 128 GB)  ₹12,999
7           SAMSUNG Galaxy F22 (Denim Blue, 128 GB)  ₹13,999
8           SAMSUNG Galaxy F22 (Denim Black, 64 GB)  ₹11,999
9        SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)  ₹11,999
10        SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)  ₹16,999
11                 SAMSUNG Galaxy M12 (Blue, 64 GB)  ₹10,285
12         SAMSUNG Galaxy F22 (Denim Black, 128 GB)  ₹13,999
13                             SAMSUNG Guru Music 2   ₹1,994
14               SAMSUNG Galaxy M12 (Black, 128 GB)  ₹12,848
15                SAMSUNG Galaxy M12 (Blue, 128 GB)  ₹12,990
16     SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)  ₹16,999
17     SAMSUNG Galaxy M33 5G (Emarld Brown, 128 GB)  ₹16,948
18         SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB)  ₹23,899
19  SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)  ₹16,399
20               SAMSUNG Galaxy M32 (Black, 128 GB)  ₹15,351
21     SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)  ₹16,999
22          SAMSUNG Galaxy M32 (Light Blue, 128 GB)  ₹15,300
23                SAMSUNG Galaxy M12 (Black, 64 GB)  ₹11,155

In [44]:
model.head()

                                           tittle    price
0      SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)  ₹11,999
1     SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)  ₹12,999
2  SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)  ₹16,490
3     SAMSUNG Galaxy F13 (Nightsky Green, 128 GB)  ₹12,999
4          SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  ₹11,999

In [45]:
model["tittle"]

0          SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)
1         SAMSUNG Galaxy F13 (Waterfall Blue, 128 GB)
2      SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)
3         SAMSUNG Galaxy F13 (Nightsky Green, 128 GB)
4              SAMSUNG Galaxy F22 (Denim Blue, 64 GB)
5          SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)
6         SAMSUNG Galaxy F13 (Sunrise Copper, 128 GB)
7             SAMSUNG Galaxy F22 (Denim Blue, 128 GB)
8             SAMSUNG Galaxy F22 (Denim Black, 64 GB)
9          SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)
10          SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)
11                   SAMSUNG Galaxy M12 (Blue, 64 GB)
12           SAMSUNG Galaxy F22 (Denim Black, 128 GB)
13                               SAMSUNG Guru Music 2
14                 SAMSUNG Galaxy M12 (Black, 128 GB)
15                  SAMSUNG Galaxy M12 (Blue, 128 GB)
16       SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)
17       SAMSUNG Galaxy M33 5G (Emarld Brown, 128 GB)
18           SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB)
19    SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)
20                 SAMSUNG Galaxy M32 (Black, 128 GB)
21       SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)
22            SAMSUNG Galaxy M32 (Light Blue, 128 GB)
23                  SAMSUNG Galaxy M12 (Black, 64 GB)
Name: tittle, dtype: object